@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Color Setup */
:root {
    --primary: #3155e7;
    --primary-dark: #2045d6;
    --black: #010101;
    --gray-1:#788190;
    --gray-2:#d3d4db;
    --white: #ffffff;
}

body {
    font-family: 'Plus Jakarta Sans', 'sans-serif';
    background-color: var(--body);
}

/* Setup Components */

/* Button */
.btn {
    border-radius: 8px;

}

.btn-primary,
.btn-outline-secondary {
    padding: 12px 20px;
}

.btn-primary {
    background-color: var(--primary);

}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

.btn-outline-secondary {
    border: 1px solid var(--gray-2);
    color: var(--black);
}

.btn-outline-secondary:hover {
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);

}

.btn-outline-secondary:focus {
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
    
}

/* Navbar */
.navbar .btn-outline-secondary {
    border: 1px solid var(--gray);
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}

.navbar {
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
    margin-left: 41px; /* Adjusted margin */
    font-size: 16px;
    color: var(--gray-1);
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

/* Active link style */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    font-weight: bold;
    color: #3155e7;
    border-bottom: 2px solid #3155e7;
}

/* Hover effect */
.navbar-nav .nav-link:not(.active):hover {
    color: #3155e7;
    border-bottom: 2px solid #3155e7;
}


.nav-link {
    margin-left: 41px;
    font-size: 16px;
    color: var(--gray-1);
    transition: color 0.3s ease, border-bottom 0.3s ease; 
}


/* Active link style */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    font-weight: bold; 
    color: #3155e7; 
    border-bottom: 2px solid #3155e7; 
}

.navbar-nav .nav-link.active-scroll {
    font-weight: bold;
    color: #3155e7;
    border-bottom: 2px solid #3155e7;
}

.nav-link.hover:hover {
    color: #000;
    border-bottom: none;
}

/* Hero Section */
section.hero {
    padding:  170px 0;
}

section.hero .text {
    font-weight: 800;
    font-size: 40px;
    line-height: 73px;
    color: var(--black);
}

section.hero img.w-100 {
    max-width: 88%;
    height: auto;
}

.buttons {
    padding-top: 69px;
}

.buttons .btn {
    font-size : 16px;
    font-weight: bold;
    line-height: 24px;
}


/* Education Section */
section.education {
    padding: 80px 0; 
}

section.education h2,
section.education h3,
section.education p {
    text-align: center; 
}

section.education .video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
}

section.education .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.education h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
}

section.education h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px; 
}

/* Add styles for the list */
section.education ul {
    padding-left: 0;
}

section.education ul li {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

section.education ul li a {
    color: #007bff; 
}

/* CSS for post box in education section */

section.education .related-content {
    padding: 40px;
    border-bottom: 1px solid #2045d6; 
    margin-bottom: 20px; 
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  section.education .post-box {
    background: var(--white);
    box-shadow: 0 4px 14px hsl(355deg 25% / 10%);
    padding: 20px;
    border-radius: 0.5rem;
    flex: 1; 
    margin: 0 10px 20px; 
    border: 1px solid #ddd; 
  }

  section.education .post-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  section.education .post-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary);
    margin-top: 15px; 
    transition: color 0.3s ease;
  }


  section.education .post-title:hover {
    color: var(--primary);
  }

  section.education .post-description {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-top: 10px; 
  }

  /* Hover effect */
section.education .post-box:hover {
    box-shadow: 0 8px 20px hsl(355deg 25% / 20%);
    transition: box-shadow 0.3s ease;
}


/* Calculator Section */
section.calculator {
    padding: 177px 0;
}

section.calculator .text-calculator {
    padding: 134px 0;
}

section.calculator .h5 {
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);
}

section.calculator .p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: var(--gray-1);
    padding-top: 20px;
}

section.calculator .info-1{
    padding: 183px 0;

}

section .calculator .card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

section .calculator .card-body {
    padding: 2rem;
}

section .calculator .card-title {
    font-size: 1.5rem;
}

section .calculator .form-group label {
    font-weight: bold;
}

section .calculator .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
section .calculator .custom-control-label::before {
    border: 1px solid #007bff;
}

.calculator .form-group-custom {
    margin-bottom: 1.5rem;
}

/* Footer */
.footer {
    background-color: var(--gray-1); /* footer background color */
    padding: 50px 0;
    text-align: center;
}

.members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.team-mem {
    margin: 20px;
    text-align: center; 
}

.footer .footer-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover; 
    border: 2px solid #fff; 
}

/* Responsive Section */

@media (max-width: 768px) {
    section.hero, 
    section.setup,
    section.calculator {    
        text-align: center;
    }

    .buttons .btn {
        display: block;
        margin: 1rem 0;
    }

    .buttons .ms-3 {
        margin-left: 0 !important;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px; 
    }

    section.education .related-content {
        padding: 20px; /* Decrease padding for smaller screens */
        border-bottom: 1px solid #2045d6; 
        margin-bottom: 20px; 
    }

    


    /* Footer Section */

    .footer {
        padding: 30px 0;
    }

    .members {
        justify-content: center;
    }

    .team-mem {
        margin: 10px; 
    }

    .footer .img {
        width: 80px; 
        height: 80px; 
        max-width: 100%; 
        max-height: 100%; 
        margin: 10px; 
        border-radius: 50%; 
    }

    @media (min-width: 992px) {
        .hero .col-md-6 {
            display: flex;
            align-items: flex-start;
        }
    }

    /* X-Large devices (large desktops, 1200px and up) */
    @media (max-width: 1200px) {
        .hero {
            padding: 120px 0; 
        }
    
        .hero .text {
            font-size: 36px; 
            line-height: 60px;
        }
    
        .hero .buttons {
            padding-top: 50px; 
        }
    
        .hero .buttons .btn {
            font-size: 14px; 
            line-height: 20px; 
        }
    
        
    } 
}